textarea{
    position: relative;
    color:black;
    background-color:#6495ed;
    text-shadow: 10px;
    height: 550px;
    width: 1400px;
    text-align: center;
    padding: 20px 5px 5px 5px;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Save{
    margin-right: 5px;
}